/* Small (sm) */
$screen-sm-min: 360px;

/* Medium (md) */
$screen-md-min: 768px;

/* Large (lg) */
$screen-lg-min: 1024px;

/* Extra Large (xl) */
$screen-xl-min: 1366px;

/* Extra Extra Large (xl) */
$screen-xxl-min: 1920px;
