//RADIUS
$radius-1: 0.25rem;
$radius-2: 0.5rem;
$radius-3: 0.75rem;
$radius-4: 1rem;

//SPACING
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.5rem;
$spacing-6: 2rem;
$spacing-7: 2.5rem;
$spacing-8: 3rem;
$spacing-9: 4rem;
$spacing-10: 5rem;

//SHADOW
$shadow-100: 0px 1px 3px 0px  rgba(24,25,26,0.1);
$shadow-200: 0px 5px 10px 0px rgba(24,25,26,0.1);

//BUTTONS
$button-gap: 1.5rem;